.d-flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.s-between {
    justify-content: space-between;
}

.i-center {
    align-items: center;
}

/* SPACING */

.py-1_5 {
    padding: 1.5rem 0;
}

.py-1 {
    padding: 1rem 0;
}